@use '../../styles/variables'
@use '../../styles/mixins'
@use '../../styles/keyframes'

.aside
    position: relative
    display: flex
    flex-direction: column
    height: 70vh
    width: 25vw
    margin-top: 20vh
    background: variables.$color-bg-2
    @include mixins.border
    opacity: 0
    animation: slideRight .7s ease-out, opacity .7s ease-out forwards

    body.dark-mode & 
        background: variables.$dark-color-bg-2
    @media (max-width: 1024px)
        flex-direction: row
        height: 20vh
        width: 100%
        margin-top: 0vh
    @media (max-width: 600px)
        flex-direction: column
        height: 20vh
        width: 100%
        margin-top: 0vh